<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My second blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My second blog</a></h1>
        </div>

        <div>
            <p>published: 16.12.2019, 20:46</p>
            <h2><a href="#">My first post</a></h2>
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>
        <div>
            <p>published: 16.12.2019, 20:50</p>
            <h2><a href="#">My second post</a></h2>
            <p>Suspendisse mi risus, dictum sed tincidunt vitae, fringilla non risus. Vestibulum eleifend non enim vel sagittis. </p>
        </div>
    </body>
</html>
